
.hero {
  display: flex;
}
.hero-text{
  width: 66.66% ;
  padding:80px 
}

.hero-image{
  width:33.33% ;
}
.hero-image img{
  width: 100% ;
  height: 100%; 
  object-fit: cover;
    
}

*{
  box-sizing: border-box;
  
}

body{
  margin:0;
  font-family:Arial, sans-serif;
}
